<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us!</title>
</head>
<body>

<img src="matthew-meijer-f5Fx_B3Qc4o-unsplash.jpg" alt="Horizon Line">

<article>

    <h2>Dear Adventurers, </h2>
    <p> "Vincit Qui Se Vincit!"...</p>
<p> Those are the very words shouted as our founder, Cliff Jenkins, surfed down the Volcano back of Mauna Loa in Hawaii and that
    is the motto that we here at JAC Enterprises live by. We must conquer ourselves and face these days with adrenaline pumping
    in our veins and passion for the next thrill thumbing in our hearts! If you want to get away from the rest of these mundane
    world and experiences a new adventure every day then please join us as well will take you on an journey in whatever continent
    country, and island you choose from. We can take you from the wild jungles of the deepest parts of Asia to the most beautiful
    and historic places in Africa. All you need to do is pick the place, pick you travel page and us do all the work!.
    Hope to see you there to take on you next adventure!
    The JAC Enterprise Staff!  </p>
</article>

<h2>Meet the Staff!</h2>

<articl>
<h2>Hi I am Dia!</h2>
    <p>
        My day job maybe working at JAC but my passion is fining then next big adrenaline rush! I am always look for something cool
        and wild too! I have done everything from winning with sharks and wrestling with alligators to driving into the Chand Baori
        and maybe I even dived off the old Eiffel tower ( with a parachute, of course). I hope that my love and passion for fining the next
        big rush can be relayed to you in helping you find your next big rush!
    </p>
</articl>

<article>
<h2>Name</h2>
    <p>
        Bio
    </p>
</article>

<article>
<h2>Name</h2>
    <p>
        Bio
    </p>
</article>

<article>
<h2>Name</h2>
    <p>
        Bio
    </p>
</article>



<footer> &copy; JACINC</footer>
</body>
</html>