<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${continentModel.continentName}">continent</title>
</head>
<body>
    <header>
        <h1 th:text="${continentModel.continentName}">continent</h1>
    </header>

    <main>
        <ul>
            <li th:each="countries: ${continentModel"><a th:href="@{/countries(id=${country.id})}" th:text="${country.name}"></a></li>
        </ul>

        <p><a id="continentsButton" th:href="/contienents">Back to Contienents List</a></p>
    </main>
    
</body>
</html>