<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contienents</title>
</head>
<body>
    
    <header>
        <h1>Contienents</h1>
    </header>

    <main>
        <ul>
            <li th:each="continent: ${continentsModel"><a th:href="@{/continent(id=${continent.id})}" th:text="${continent.continentName}"></a></li>
        </ul>
    </main>

</body>
</html>