<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/genericstyle.css">
    <title>Pick a Country</title>
</head>
<body>


<header>
    <h1 th:text="${countryModel.name}">country</h1>
</header>
    <h2>Island Clusters in Country</h2>
<main>
    <ul>
        <li th:each="islandCluster: ${islandClusters}"><a th:href="@{'/islandClusters/' + (id=${islandCluster.id})}"th:text="${islandCluster.islandClusterName"></a></li>
    </ul>
</main>

</body>
</html>