<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>JAC ENTERPRISES</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <img class="logo" src="images/logo2.png" alt="logo">
    <div class="group">
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar">Menu</label>
        <nav class="navbar">
            <ul>
                <li><a href="#">Continents</a>
                    <ul>
                        <li th:each="continent: ${continentsModel}"><a th:href="@{/continent(id=${continent.id})}"
                                                                       th:text="${continent.continentName}"></a></li>

                    </ul>
                </li>
                <li><a href="#">Oceans</a>
                <ul>

                <li th:each="ocean: ${oceans}"><a th:href="@{/ocean(id=${ocean.id})}" th:text="${ocean.name}"></a></li>
                </ul>
                </li>
                <li><a href="#">Travel Info</a>
                    <ul>
                        <li><a th:href="@{/packages}">Tour Packages</a></li>
                        <li><a href="#">Visa Requirements</a></li>
                        <li><a href="#">Covid Restrictions</a></li>
                        <li><a href="#">Flight Deals</a></li>
                        <li><a href="#">Refunds/Cancellations</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/aboutUs}">About Us</a>
                    <ul>
                        <li><a th:href="@{/aboutUs}">Meet Our Team</a></li>
                        <li><a th:href="@{/aboutUs}">Contact Us</a></li>
                    </ul>
                </li>
                <li><a href="#">My Account</a>
                    <ul>
                        <li><a href="#">My Travel History</a></li>
                        <li><a href="#">My Booking</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="banner">
    <div class="bg">
        <img src="images/island.png" class="cover">
        <div class="content">
            <h2>UNIQUE ISLAND ADVENTURES</h2>
            <a href="#" class="btn">BOOK NOW</a>
        </div>
        <div class="searchBox">
            <div class="inputBox">
                <p>Find a destination</p>
                <input type="text" placeholder="Ex: Fiji">
            </div>
            <div class="inputBox">
                <p>Check In</p>
                <input type="date">
            </div>
            <div class="inputBox">
                <p>Check Out</p>
                <input type="date">
            </div>
            <div class="inputBox">
                <p class="white">_</p>
                <input type="Submit" value="Find">
            </div>
        </div>
    </div>
</div>
<div class="adventureTitle">
    <h2>CHOOSE YOUR ADVENTURE</h2>
</div>
<div class="advgridContainer">
    <div class="advGrids">
        <div class="AdvGrid1">
            <div class="advcont">
                <img src="images/swimWithSharks.png" alt="swim with sharks">
            </div>
            <div class="details">
                <h3>DARING</h3>
                <p>Island hopping and shark feeding. If you can get past their ginormous size and teeth,
                    you'll feel your heartbeat calming down and end up having one of the best experiences
                    seeing them up close and personal. Are you up for the thrill?</p>
            </div>
        </div>
        <div class="AdvGrid2">
            <div class="advcont">
                <img src="images/luxury.png" alt="sailboat">
            </div>
            <div class="details">
                <h3>LUXURY</h3>
                <p>The extraordinary, the adventure and the exclusivity is all part of our philosophy.
                    Infinite shades of azure. Secluded atolls.
                    Imagine yourself in a luxurious yacht getting lost in island clusters. Sail away and visit stunning
                    islands where all amenities of a luxury hotel can be found.</p>
            </div>
        </div>
        <div class="AdvGrid3">
            <div class="advcont">
                <img src="images/getWrecked.png" alt="scuba">
            </div>
            <div class="details">
                <h3>GET WRECKED</h3>
                <p>Go island hopping and explore historic ship­wrecks and indigenous un­derwater sites in its waters.
                    The indigenous underwater her­itage overtime blends with the oce­anic environment
                    creating a home to most marine life-fish and crusta­ceans.</p>
            </div>
        </div>
    </div>
</div>
<div class="adventurer">
    <h2>What Kind of Island Adventurer Are You?</h2>
    <p>How adventurous are you really? Are you a light adventurer,
        who likes a good time but never goes too far out of his/her comfort zone?
        Or are you a real, true, serious adventurer, who would brave any situation and loves a good challenge?
        Let us know what kind of island adventure you prefer and we can customize a tour package for you! We have
        a huge selection of island packages across the globe!</p>
</div>
<div class="brochure">
    <img src="images/JAChomebrochure.png">
</div>
<footer class="footer-content">
    <div class="footer-left">
        <img src="images/logo2.png">
        <h3>About <span>JAC ENTERPRISES</span></h3>

        <p class="footer-links">
            <a th:href="@{/aboutUs}">About</a>
            |
            <a th:href="@{/continents}">Destinations</a>
            |
            <a href="#">Travel Info</a>
            |
            <a th:href="@{/aboutUs}">Contact</a>
        </p>

        <p class="footer-company-name">© 2021 JAC ENTERPRISES Pvt. Ltd.</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>1234 Lake Drive Unit 12</span>
                Cleveland, Ohio - 44101</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>(216) 664-1234</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:contactus@jac-ent.com">contactus@jac-ent.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            We offer unique island adventures.</p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</footer>
</body>
</html>