<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>JAC ENTERPRISES</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <img class="logo" th:src="/images/logo2.png" alt="logo">
        <div class="group">
            <input type="checkbox" id="menu-bar">
            <label for="menu-bar">Menu</label>
            <nav class="navbar">
                <ul>
                <li><a th:href="#">Destinations</a>
                    <ul>
                        <li><a th:href="#">North America</a></li>
                        <li><a th:href="#">South America</a></li>
                        <li><a th:href="#">Europe</a></li>
                        <li><a th:href="#">Africa</a></li>
                        <li><a th:href="#">Asia</a></li>
                        <li><a th:href="#">Australia</a></li>
                    </ul>
                </li>
                <li><a th:href="#">Travel Info</a>
                    <ul>
                        <li><a th:href="#">Tour Packages</a></li>
                        <li><a th:href="#">Visa Requirements</a></li>
                        <li><a th:href="#">Covid Restrictions</a></li>
                        <li><a th:href="#">Flight Deals</a></li>
                        <li><a th:href="#">Refunds/Cancellations</a></li>
                    </ul>
                </li>
                <li><a th:href="#">About Us</a>
                    <ul>
                        <li><a th:href="#">Meet Our Team</a></li>
                        <li><a th:href="#">Contact Us</a></li>
                    </ul>
                </li>
                <li><a th:href="#">My Account</a>
                    <ul>
                        <li><a th:href="#">My Travel History</a></li>
                        <li><a th:href="#">My Booking</a></li>
                    </ul>
                </li>
            </ul>
            </nav>
        </div>
    </header>
    <div class="banner">
        <div class="bg">
            <img th:src="/images/island.png" class="cover">
            <div class="content">
                <h2>UNIQUE ISLAND ADVENTURES</h2>
                <a th:href="#" class="btn">BOOK NOW</a>
            </div>
            <div class="searchBox">
                <div class="inputBox">
                    <p>Find a destination</p>
                    <input type="text" placeholder="Ex: Fiji">
                </div>
                <div class="inputBox">
                    <p>Check In</p>
                    <input type="date">
                </div>
                <div class="inputBox">
                    <p>Check Out</p>
                    <input type="date">
                </div>
                <div class="inputBox">
                    <p class="white">_</p>
                    <input type="Submit" value="Find">
                </div>
            </div>
        </div>
    </div>
    <div class="adventureTitle">
        <h2>CHOOSE YOUR ADVENTURE</h2>
    </div>
    <div class="advgridContainer">
        <div class="advGrids">
            <div class="AdvGrid1">
                <div class="advcont">
                    <img th:src="/images/swimWithSharks.png" alt="swim with sharks">
                </div>
                <div class="details">
                <h3>DARING</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                     aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="AdvGrid2">
                <div class="advcont">
                    <img th:src="/images/luxury.png" alt="sailboat">
                </div>
                <div class="details">
                <h3>LUXURY</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                     aliquip ex ea commodo consequat.</p>
             </div>
            </div>
            <div class="AdvGrid3">
                <div class="advcont">
                    <img th:src="/images/getWrecked.png" alt="scuba">
                </div>
                <div class="details">
                    <h3>GET WRECKED</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                     aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>