<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/genericstyle.css">

    <title>islands</title>
</head>
<body>
<header>
    <h1>Islands</h1>
</header>
<h2 th:each="island: ${islands}"><a th:href="@{/island(id=${island.id})}" th:text="${island.name}"></a></h2>

<p><a id="clustersButton" th:href="@{/islandClusters}">Back to Island Clusters List</a></p>


</body>
</html>