<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/genericstyle.css">
    <title th:text="${islandModel.name}">island</title>
</head>
<body>
<header>
    <h1 th:text="${islandModel.name}">island</h1>
</header>

<main>

    <p><a id="islandsButton" th:href="/islands">Back to Islands List</a></p>
</main>
</body>
</html>