<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${islandClusterModel.islandClusterName}">islandCluster</title>
</head>
<body>
    <header>
        <h1 th:text="${islandClusterModel.islandClusterName}">islandCluster</h1>
    </header>

    <main>
        <ul>
            <li th:each="islandCluster: ${islandClusterModel"><a th:href="@{/islands(id=${island.id})}" th:text="${island.name}"></a></li>
        </ul>

        <p><a id="islandClustersButton" th:href="/islandClusters">Back to Island Clusters List</a></p>
    </main>
</body>
</html>