<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width-device-width, initial-scale=1.0">
<link rel="stylesheet" href="styles/generalOceanStyle.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <title th:text="${ocean.name}">Ocean</title>
</head>
<body>
<header>
    <header>
        <a th:href="@{/home}"><img class="logo" src="images/logo2.png" alt="logo"></a>
        <div class="group">
            <input type="checkbox" id="menu-bar">
            <label for="menu-bar">Menu</label>
            <nav class="navbar">
                <ul>
                    <li><a th:href="@{/oceans}">Destinations</a>
                        <ul>
                            <li th:each="island: ${islands}"><a th:href="@{/island(id=${island.id})}" th:text="${island.name}"></a></li>
                        </ul>
                    </li>
                    <li><a href="#">Travel Info</a>
                        <ul>
                            <li><a href="#">Tour Packages</a></li>
                            <li><a href="#">Visa Requirements</a></li>
                            <li><a href="#">Covid Restrictions</a></li>
                            <li><a href="#">Flight Deals</a></li>
                            <li><a href="#">Refunds/Cancellations</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/aboutUs}">About Us</a>
                        <ul>
                            <li><a th:href="@{/aboutUs}">Meet Our Team</a></li>
                            <li><a th:href="@{/aboutUs}">Contact Us</a></li>
                        </ul>
                    </li>
                    <li><a href="#">My Account</a>
                        <ul>
                            <li><a href="#">My Travel History</a></li>
                            <li><a href="#">My Booking</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</header>
<h1 th:text="${ocean.name}"></h1>

<h2>Islands in this Ocean</h2>

<li th:each="island: ${islands}"><a th:href="@{/island(id=${island.id})}" th:text="${island.name}"></a></li>

<nav><a href="/oceans">Back</a></nav>
</body>
</html>