<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/generalOceanStyle.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <title>JAC ENTERPRISES</title>
</head>
<body>
    <header>
        <a th:href="@{/home}">
            <img class="logo" src="images/logo2.png" alt="logo"></a>
        <div class="group">
            <input type="checkbox" id="menu-bar">
            <label for="menu-bar">Menu</label>
            <nav class="navbar">
                <ul>
                <li><a th:href="@{/continents}">Destinations</a>
                    <ul>
                        <li th:each="ocean: ${oceans}"><a th:href="@{/ocean(id=${ocean.id})}" th:text="${ocean.name}"></a></li>

                    </ul>
                </li>
                <li><a href="#">Travel Info</a>
                    <ul>
                        <li><a href="#">Tour Packages</a></li>
                        <li><a href="#">Visa Requirements</a></li>
                        <li><a href="#">Covid Restrictions</a></li>
                        <li><a href="#">Flight Deals</a></li>
                        <li><a href="#">Refunds/Cancellations</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/aboutUs}">About Us</a>
                    <ul>
                        <li><a th:href="@{/aboutUs}">Meet Our Team</a></li>
                        <li><a th:href="@{/aboutUs}">Contact Us</a></li>
                    </ul>
                </li>
                <li><a href="#">My Account</a>
                    <ul>
                        <li><a href="#">My Travel History</a></li>
                        <li><a href="#">My Booking</a></li>
                    </ul>
                </li>
            </ul>
            </nav>
        </div>
    </header>
    <h1>Oceans</h1>

    <h2 th:each="ocean: ${oceans}"><a th:href="@{/ocean(id=${ocean.id})}" th:text="${ocean.name}"></a></h2>
<!--<div class="row">-->
<!--    <div class="column">-->
<!--      <div class="card-1">-->
<!--        <img src="static\anders-wideskott-_QnPkc4C6E4-unsplash.jpg" alt="Steve" style="width:100%">-->
<!--        <div class="container">-->
<!--          <h2>North Pacific Ocean</h2>-->
<!--          <p class="title">Hawaii</p>-->
<!--          <p>Come on down and say Aloha to Hawaii! Surfs are up, the sun is shinning and every-->
<!--            one is wait for you to enjoy so fun in the Hawaiian. Don't forget your surf board, Hawaiian-->
<!--            shirt, and sunglasses! Oh! And that sun screen too!.</p>-->
<!--          <p><button class="button">Packages</button></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="column">-->
<!--      <div class="card-2">-->
<!--        <img src="static\anastasia-taioglou-EEDLURXCpqg-unsplash.jpg" alt="Peter" style="width:100%">-->
<!--        <div class="container">-->
<!--          <h2>Pacific Ocean</h2>-->
<!--          <p class="title">islands of Chile</p>-->
<!--          <p> Visit Chile islands and their reach culture and food! Then take a dive down and see all the marin life -->
<!--            along the coast. -->
<!--          </p>-->
<!--          <p><button class="button">Packages</button></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="column">-->
<!--      <div class="card-3">-->
<!--        <img src="static\ken-cheung-tJh_UdyrPK4-unsplash.jpg" alt="Tony" style="width:100%">-->
<!--        <div class="container">-->
<!--          <h2>Ocean</h2>-->
<!--          <p class="title">Channel Islands</p>-->
<!--          <p></p>-->
<!--          <p><button class="button">Packages</button></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <div class="column">-->
<!--      <div class="card-4">-->
<!--        <img src="static\shot-by-cerqueira-8qH4GSYBiSA-unsplash.jpg" alt="Steve" style="width:99%">-->
<!--        <div class="container">-->
<!--          <h2>Atlantic Ocean</h2>-->
<!--          <p class="title">Cape Verda</p>-->
<!--          <p>Fun and a while adventure await you at Cape Verda! Enjoy the festive fun of this Africa islands while also enjoying a wild-->
<!--            african adventure through the jungels See new sites and meet the natives and let them tell you about their home land of Cape Verda!</p>-->
<!--          <p><button class="button">Packages</button></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    -->
<!--    <div class="column">-->
<!--      <div class="card-5">-->
<!--        <img src="static\the-dk-photography-yG_8-55cXV4-unsplash.jpg" alt="Peter" style="width:100%">-->
<!--        <div class="container">-->
<!--          <h2>Pacific Ocean</h2>-->
<!--          <p class="title">El Nido</p>-->
<!--          <p> El Nido, one of serval thousand islands that make up the beautiful country of the Philipines.-->
<!--            White sandy beaches, limeston cliffs, sunny weather, and clear blue waters. Perfect for you and your -->
<!--            family to travel to and enjoy.-->
<!--          </p>-->
<!--          <p><button class="button">Packages</button></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="column">-->
<!--      <div class="card-6">-->
<!--        <img src="static\zany-jadraque-ZCRtfop2hZY-unsplash.jpg" alt="Tony" style="width:100%">-->
<!--        <div class="container">-->
<!--          <h2>Ocean</h2>-->
<!--          <p class="title">Islands</p>-->
<!--          <p>Some text that describes me lorem ipsum ipsum lorem.</p>-->
<!--          <p><button class="button">Packages</button></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <footer class="footer-content">
    <div class="footer-left">
  <img src="assets\logo2.png">
        <h3>About <span>JAC ENTERPRISES</span></h3>
        <p class="footer-links">
            <a th:href="@{/aboutUs}">About Us</a>
            |
            <a th:href="@{/continents}">Destinations</a>
            |
            <a href="#">Travel Info</a>
            |
            <a th:href="@{/aboutUs}">Contact</a>
        </p>
        <p class="footer-company-name">© 2021 JAC ENTERPRISES Pvt. Ltd.</p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>1234 Lake Drive Unit 12</span>
                Cleveland, Ohio - 44101</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>(216) 664-1234</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:contactus@jac-ent.com">contactus@jac-ent.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            We offer unique island adventures.</p>
        <div class="footer-icons">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-youtube"></i></a>
  </div>
    </div>
</footer>
</body>
</html>